<md-content class="game-content" flex layout-padding ng-controller="GameController as gameCtrl">

  <div class="cards-container" layout="row" layout-align="center center">
    <div class="discard-pile">
      <span>Discard pile</span>
    </div>
    <div class="card" md-whiteframe="3">
      <span>Deck!</span>
    </div>
  </div>

  <div class="cards-container" layout="row" layout-align="center center">
    <div ng-show="!!gameCtrl.cards" class="card" ng-repeat="card in gameCtrl.cards"
         md-whiteframe="3">
      <span>{{::card.card}}{{::card.suit}}</span>
    </div>
  </div>

	<md-button ng-disabled="turnEnabled" class="md-raised md-primary" ng-click="gameCtrl.sendTurn()">Send turn</md-button>
</md-content>
