<md-content class="game-content" flex layout-padding ng-controller="GameController as gameCtrl">

  <div class="cards-container" layout="row" layout-align="center center">
    <div ng-if="gameCtrl.discardPileTop" ng-click="gameCtrl.setSwapWithDiscardOrDeck('discard')" class="discard-pile">
      <span>{{gameCtrl.discardPileTop.card}}{{gameCtrl.discardPileTop.suit}}</span>
    </div>
    <div ng-if="!gameCtrl.discardPileTop" class="discard-pile">
      <span>Discard pile!</span>
    </div>

    <div ng-click="gameCtrl.setSwapWithDiscardOrDeck('deck')"class="card" md-whiteframe="3">
      <span>Deck!</span>
    </div>
  </div>

  <div class="cards-container" layout="row" layout-align="center center">
    <div ng-show="!!gameCtrl.cards" class="card"
         ng-repeat="card in gameCtrl.cards"
         ng-class="{selected : card.selected}"
         md-whiteframe="3" ng-click="gameCtrl.setCardToSwap(card)">
      <span>{{::card.card}}{{::card.suit}}</span>
    </div>
  </div>

	<md-button ng-disabled="turnEnabled" class="md-raised md-primary" ng-click="gameCtrl.sendTurnSwap()">Send turn</md-button>
</md-content>
