<md-content class="game-content"
            flex layout-padding
            ng-controller="GameController as gameCtrl">

  <div class="scorecard"
       layout="row">
    <div  flex="20" class="md-display-6 top-row-card">
      <h3 class="top-row-title">
        Current Turn:
      </h3>
      <figure class="top-row-descriptor-turn">
        {{gameCtrl.currentTurnName}}
      </figure>
    </div>
    <div flex="20" class="md-display-6 top-row-card rotate-score-animation">
      <h3 class="top-row-title">
        Your Hand<br/> Score:
      </h3>
      <figure class="top-row-descriptor-score">
        {{gameCtrl.score}}
      </figure>
    </div>

    <table layout="column"
           flex="40"
           layout-align="start center"
           cellspacing="0" cellpadding="0">
      <tr>
        <th class="underline-header">
          Player
        </th>
        <th class="underline-header hole-number-table"
            ng-repeat="holeNumber in gameCtrl.holesArray">
          {{::holeNumber}}
        </th>
      </tr>
      <tr ng-repeat="(userId,name) in gameCtrl.userIdToName">
        <td>{{name}}</td>
        <td class="hole-score-column"
            ng-repeat="holeScore in gameCtrl.holes">
          {{holeScore[userId]}}
        </td>
      </tr>
    </table>
  </div>
  <div class="cards-container"
       layout="row"
       layout-align="center center">
    <div ng-if="gameCtrl.discardPileTop.card"
         ng-click="gameCtrl.setSwapWithDiscardOrDeck('discard')"
         class="discard-pile"
         ng-class="{selected : gameCtrl.discardPileTop.selected}" >
      <span>{{gameCtrl.discardPileTop.card.card}}{{gameCtrl.discardPileTop.card.suit}}</span>
    </div>
    <div ng-if="!gameCtrl.discardPileTop.card"
         class="discard-pile"
         ng-class="{selected : gameCtrl.discardPileTop.selected}">
      <span>Discard pile!</span>
    </div>

    <div ng-click="gameCtrl.setSwapWithDiscardOrDeck('deck')"
         class="card"
         md-whiteframe="3"
         ng-class="{selected : gameCtrl.deck.selected}">
      <span>Deck!</span>
    </div>
  </div>

  <div class="cards-container"
       layout="row"
       layout-align="center center">
    <div ng-show="!!gameCtrl.cards" class="card"
         ng-repeat="card in gameCtrl.cards"
         ng-class="{selected : card.selected}"
         md-whiteframe="3" ng-click="gameCtrl.setCardToSwap(card)">
      <span>{{::card.card}}{{::card.suit}}</span>
    </div>
  </div>

	<md-button ng-disabled="turnEnabled"
             class="md-raised md-primary"
             ng-click="gameCtrl.sendTurnSwap()">Send turn</md-button>
  <md-button ng-disabled="turnEnabled || gameCtrl.lastRound"
             class="md-raised md-primary"
             ng-click="gameCtrl.sendTurnKnock()">Knock Knock</md-button>
</md-content>
