<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="lobby">
        <md-content class="lobby-content" flex layout-padding ng-controller="LobbyController as lobbyCtrl">
            <h1 class="md-display-4">Welcome {{::name}}!</h1>
            <div layout="row">
                <div layout="column" flex="65" class="left">
                    <md-card>
                    <md-card-title>
                        <span class="md-headline">Start a New Game</span>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-button" md-theme="default" ng-click="lobbyCtrl.startGame()">Play Against Computer</md-button>
                        <md-button class="md-button" md-theme="default" ng-click="">Play Against Person</md-button>
                    </md-card-actions>
                </md-card>
                </div>
                <div layout="column" flex="35" class="left">
                    <md-card>
                    <md-card-title>
                        <span class="md-headline">Join a Game</span>
                    </md-card-title>
                </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="stats">
        <md-content class="stats-content" flex layout-padding>
            <h1 class="md-display-4">Stats</h1>
        </md-content>
    </md-tab>
</md-tabs>