a, a:active, a:focus {
  outline: none;
}

.loginBox{
  margin: 20vh auto;
  flex-direction: column;
}

.loginBox h1{
  font-size:3em;
  margin-bottom:0;
}

.md-raised.loginButton-fb {
  background-color: #3B5998;
}

.md-raised.loginButton-gh {
  background-color:#999;
  margin-bottom:1.5em;
}

.toolbar-title {
  margin-left: 1vw;
}

.lobby-content,
.stats-content,
.game-content{
  width: 90vw;
  margin: 0 auto;
}


.md-display-4 {
  font-size: 69px;
}


md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type.start-game-button {
  margin-left: 1em;
}

.hole-number-table {
  width: 1em;
}

/*Weird thing angular makes me do*/
.game-content .layout-row .card.ng-animate,
.game-content .layout-row .discard-pile.ng-animate {
  -webkit-transition: none;
  transition: none;
}

.game-content .layout-row .card,
.game-content .layout-row .discard-pile {
  padding: 2em;
  margin: 1em;
  text-align:center;
  height: 10em;
  border-radius: 1em;
  width: 8em;
  min-width: 8em;
  outline: none;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-content .layout-row .card::after,
.game-content .layout-row .discard-pile::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-content .layout-row .card:hover,
.game-content .layout-row .discard-pile:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.game-content .layout-row .card:hover::after,
.game-content .layout-row .discard-pile:hover::after {
  opacity: 1;
}

.selected {
  box-shadow: 0px 6px 20px 5px rgba(46,125,40,0.69);
}

.game-content .layout-row .discard-pile {
  border-style: dashed;
}

.scorecard {
  justify-content: space-between;
}

.top-row-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.top-row-card {
  text-align: center;
}

.top-row-descriptor-turn {
  font-size: 2em;
  margin: 0;
}

.top-row-descriptor-score {
  font-size: 4em;
  margin: 0;
}

@keyframes scoreAnimationShow {
  from{
    transform:scaleX(0) scaleY(0)
  }
  to{
    transform:scaleX(100%) scaleY(100%)
  }
}

@keyframes scoreAnimationHide {
  from{
    transform: scaleX(100%) scaleY(100%)
  }
  to{
    transform: scaleX(0) scaleY(0)
  }
}

.score-animation-show{
  transform-origin: center-center;
  animation-name: scoreAnimationShow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-direction: alternate;
}
.score-animation-hide{
  transform-origin: center-center;
  animation-name: scoreAnimationHide;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes nameAnimationHide {
  0% {
    transform: translateY(0px)
  }
  50%{
    transform: translateY(-25px);
    opacity: 0;
  }
  100%{
    opacity:0;
    transform: translateY(25px);
  }
}

@keyframes nameAnimationShow {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.name-animation-hide{
  transform-origin: center-center;
  animation-name: nameAnimationHide;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-direction: alternate;
}

.name-animation-show{
  transform-origin: center-center;
  animation-name: nameAnimationShow;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-direction: alternate;
}
