a, a:active, a:focus {
  outline: none;
}

.loginBox{
  margin: 20vh auto;
  flex-direction: column;
}

.loginBox h1{
  font-size:3em;
  margin-bottom:0;
}

.md-raised.loginButton-fb {
  background-color: #3B5998;
}

.md-raised.loginButton-gh {
  background-color:#999;
  margin-bottom:1.5em;
}

.toolbar-title {
  margin-left: 1vw;
}

.lobby-content,
.stats-content,
.game-content{
  width: 80vw;
  margin: 0 auto;
}


.md-display-4 {
  font-size: 69px;
}


md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type.start-game-button {
  margin-left: 1em;
}

.game-content .layout-row .card,
.game-content .layout-row .discard-pile {
  padding: 2em;
  margin: 1em;
  text-align:center;
  height: 20em;
  border-radius: 1em;
  width: 14em;
  outline: none;
}


@-webkit-keyframes cardSelectedAnimation {
  100%{
    -webkit-box-shadow: 0px 6px 20px 5px rgba(46,125,40,0.69);
  }
}

@keyframes cardSelectedAnimation {
  100%{
    -moz-box-shadow: 0px 6px 20px 5px rgba(46,125,40,0.69);
    box-shadow: 0px 6px 20px 5px rgba(46,125,40,0.69);
  }
}

.selected {
  animation-name: cardSelectedAnimation;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forward;
  animation-direction: alternate;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -ms-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}


.game-content .layout-row .discard-pile {
  border-style: dashed;
}
