a, a:active, a:focus {
  outline: none;
}

.loginBox{
  margin: 20vh auto;
  flex-direction: column;
}

.loginBox h1{
  font-size:3em;
  margin-bottom:0;
}

.md-raised.loginButton-fb {
  background-color: #3B5998;
}

.md-raised.loginButton-gh {
  background-color:#999;
  margin-bottom:1.5em;
}

.toolbar-title {
  margin-left: 1vw;
}

.lobby-content,
.stats-content,
.game-content{
  width: 80vw;
  margin: 0 auto;
}


.md-display-4 {
  font-size: 69px;
}


md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type.start-game-button {
  margin-left: 1em;
}

.game-content .layout-row .card,
.game-content .layout-row .discard-pile {
  padding: 2em;
  margin: 1em;
  text-align:center;
  height: 20em;
  border-radius: 1em;
  width: 14em;
  outline: none;
}

@keyframes cardSelectionAnimation {
  10%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.1);
  }
  20%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.2);
  }
  30%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.3);
  }
  40%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.4);
  }
  50%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.5);
  }
  60%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.6);
  }
  70%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.7);
  }
  80%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.8);
  }
  90%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,.9);
  }
  100%{
    box-shadow: 0px 7px 35px 3px rgba(29,150,11,1);
  }

}

.selected {
  animation-name: cardSelectionAnimation;
  animation-duration : 1s;
  animation-timing-function: linear;

  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards; /*when the spec is finished*/
}

.game-content .layout-row .discard-pile {
  border-style: dashed;
}
